node_modules
dist
.env
.DS_Store
*.log
.next
.turbo
out
build
coverage
.vscode
.idea
*.tsbuildinfo
prisma/migrations
apps/widget/dist
apps/widget/node_modules
libs/db/node_modules
libs/config/node_modules
libs/ai/node_modules
libs/queue/node_modules
libs/storage/node_modules
apps/worker/node_modules
apps/api/node_modules
